[defaults]
inventory = inventory/hosts.yml
playbook_dir = ./playbooks
host_key_checking = False
remote_user = admin
become_method = sudo
forks = 10
timeout = 30
callbacks_enabled = timer, profile_tasks
pipelining = True
stdout_callback = yaml
# vault_password_file = .vault_pass  # Uncomment after generating .vault_pass and encrypting vault.yml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True
