# SPDX-License-Identifier: PolyForm-Noncommercial-1.0.0
# Copyright (c) 2026 Paul Kanz <kanzpaul@gmail.com>
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ acme_issuer_staging | default('letsencrypt-staging') }}
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: {{ acme_email | default('admin@example.com') }}
    privateKeySecretRef:
      name: {{ acme_issuer_staging | default('letsencrypt-staging') }}-account-key
    solvers:
      - http01:
          ingress:
            ingressTemplate:
              metadata:
                annotations:
                  traefik.ingress.kubernetes.io/router.entrypoints: web
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ acme_issuer_prod | default('letsencrypt-prod') }}
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: {{ acme_email | default('admin@example.com') }}
    privateKeySecretRef:
      name: {{ acme_issuer_prod | default('letsencrypt-prod') }}-account-key
    solvers:
      - http01:
          ingress:
            ingressTemplate:
              metadata:
                annotations:
                  traefik.ingress.kubernetes.io/router.entrypoints: web
